.container {
  display: flex;
  align-items: center;
}

.tile {
  width: 36px;
  height: 36px;
  border: 1px solid black;
}

/* slant line */
.tileDisabled {
  background-image: linear-gradient(
    45deg,
    transparent 49%,
    black 49%,
    black 51%,
    transparent 51%
  );
}
